language: node_js
node_js:
  - '8'
dist: trusty # needs Ubuntu Trusty
sudo: required
addons:
  chrome: stable # have Travis install chrome stable.

before_script:
  - npm install -g bower gulp yarn

script:
  - yarn install
  - npm run bootstrap
  - npm run build
  - npm run bower
  - npm run test
